
$color-grayDk:	   #2d3c49;
$color-gray:		   #7d97ad;
$color-blue:       #02b3e4;

$color-white: 		 #fff;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($effects) {
  -webkit-transition: $effects;
     -moz-transition: $effects;
       -o-transition: $effects;
          transition: $effects;
}

@mixin transform($vals) {
  -webkit-transform: $vals;
     -moz-transform: $vals;
       -o-transform: $vals;
          transform: $vals;
}